# AZURE STORAGE ENV VARIABELS
AZURE_STORAGE_CONNECTION_STRING=""

# AZURE OPENAI CONFIGS & KEYS
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPONITS=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHAT_DEPLOYMENT="gpt-4o"

# AZURE EMBEDDING MODEL CONFIGS
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-3-small"

# AZURE AI SEARCH -- KNOWLEGDE BASE CONFIG
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

# AZURE VIDEO INDEXER CONFIG
AZURE_VI_NAME=""
AZURE_VI_LOCATION="eastus" # CHAINGE LOCATION TO TRAIL IF F
AZURE_VI_ACCOUNT_ID=""
AZURE_RESOURCE_GROUP=""

# AZURE MONITORING - OBERVABILITY
APPICATIONINSIGHTS_CONNECTION_STRING=""

# LANGSMITH TRACING
LANGCHAIN_TRACING_V2=""
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANCHAIN_API_KEY=""
LANGCHAIN_PORJECT="brand_guardian"

